{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Board Game Club</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
      <a class="navbar-brand" href="{% url 'board_game_club_apps:index' %}">Board Game Club</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Togglenavigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'board_game_club_apps:loanable_games' %}">Loanable Games</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'board_game_club_apps:games' %}">My Board Games</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'board_game_club_apps:my_loans' %}">My Loans</a></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <div id="google_translate_element"></div>
            <script type="text/javascript">
              function googleTranslateElementInit() {
                  new google.translate.TranslateElement(
                      {pageLanguage: 'en'},
                      'google_translate_element'
                  );
              }
           </script>
               <script type="text/javascript"
               src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
           </script>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <span class="navbar-text"}">Hello, {{ user.username }}.</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">Register</a>  
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Log in</a>  
              </li>
            {% endif %}
          </ul>
      </div>
    </nav>
    
    <main role="main" class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </main>
    <div class="container">
      <footer class="py-3 my-4">
        <p class="text-center text-muted">&copy;<a href="https://www.github.com/urasayanoglu/board_game_club" target="_blank">2022 Application Programming - Group G1</a></p>
      </footer>
    </div>
  </body>
</html>
