{% extends "board_game_club_apps/base.html" %}
{% load bootstrap4 %}

{% block content %}
  <p><a href="{% url 'board_game_club_apps:game' game.id %}">{{ game }}</a></p>
  <p>Edit My Board Game:</p>
  <form action="{% url 'board_game_club_apps:edit_game' game.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_form_errors form type='non_fields' %}
    {% buttons reset="Cancel" %}
      <button name="submit" class="btn btn-primary">Save changes</button>
    {% endbuttons %}
  </form>
{% endblock content %}