{% extends "board_game_club_apps/base.html" %}

{% block page_header %}
  <h3>Board Game: {{ game }}</h3>
{% endblock page_header %}

{% block content %}
  <h4>About:</h4>
  <ul>
    <div class="card mb-3">
      <h5 class="card-header">
        <p>Name: {{ game.name }}</p>
        <p>Genre: {{ game.genre }}</p>
        <p>Year Published: {{ game.year_published}}</p>
        <p>Publisher: {{ game.publisher }}</p>
        <p>Number of Max Player: {{ game.number_of_players }}</p>
        <p>Minumum Age: {{ game.min_age }}</p>
        <p>Difficulty: {{ game.difficulty}}</p>
        <p>Description: {{ game.description }}</p>
      </h5>
    </div>
  </ul>

  <h3><a class="btn btn-lg btn-primary" href="{% url 'board_game_club_apps:edit_game' game.id %}" role="button">Edit My Board Game</a></h3>
{% endblock content %}