<style>
  .container {
    margin:auto;
    width: 1500px;
    display: block;
    background-color: #F8F9FA;
  }

  .card-holder {
    display: block;
  }

  .games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.single-game {
  background-color: #55595c;
  text-align: left;
  padding: 20px 30px;
  margin: 5px;
  display:block
}
p {
  text-decoration: none;
  color:#F8F9FA;
}

.btn {
  display:flex;
  margin-left:-10px;
}
.btn button {
  padding: 5px 10px;
  outline: none;
  border: none;
}
</style>


{% extends "board_game_club_apps/base.html" %}


{% block page_header %}
  <h1>Available Games for Loan</h1>
{% endblock page_header %}

{% block content %}

<div class="container">
  <div class="games">
      {% for game in games %}
        {% if game.status == 'a' %}
        <div class="card-holder">
          <div class="single-game">
            <p>{{ game }}</p>
            <br>
          <div class="btn">
            <button type="button"><a href="{% url 'board_game_club_apps:game' game.id %}">View Details</a></button>
            <button type="button"><a href="{% url 'board_game_club_apps:new_loan' %}">Loan</a></button>
          </div>
        </div>
        </div>
 
        {% endif %}
        {% empty %}
        <li><h5>Unfortunately, there is not any board game for loan.</h5></li>
      {% endfor %}


  </div>
</div>

{% endblock content %}


