{% extends "board_game_club_apps/base.html" %}

{% block page_header %}
  <h1>My Loans</h1>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for loan in loans %}
      <div class="card mb-3">
        <h4 class="card-header">
          Game Loned: {{ loan.game_loaned }} <br>
          Loan Date: {{ loan.loan_date|date:'d-m-Y D H:i'  }} <br>
          Return Date:
        </h4>
      </div>
    {% empty %}
      <li><h3>Unfortunately, there is not any loaned game.</h3></li>
    {% endfor %}
  </ul>

{% endblock content %}