{% extends "board_game_club_apps/base.html" %}

{% block page_header %}
  <h3>Board Game: {{ game }}</h3>
{% endblock page_header %}

{% block content %}
  <h4>Loans:</h4>
  <ul>
    {% for loan in loans %}
      <div class="card mb-3">
        <h5 class="card-header">
          Loan Date: {{ loan.loan_date|date:'d-m-Y D H:i'  }} <br>
          Return Date:{{ loan.return_date|date:'d-m-Y D H:i'  }} <br>
        </h5>
      </div>
    {% empty %}
      <li>There is not a loan for this game yet.</li>
    {% endfor %}
  </ul>
{% endblock content %}